<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <div th:replace="~{fragments/header :: head}"></div>

</head>

<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="container">
    <br/>
    <br/>
    <h1>Setting</h1>
    <div th:if="${!setting.isEmpty()}">
        <p class="">output row :<span th:text="${setting.rows}"></span></p>
        <p class="">output column : <span th:text="${setting.columns}"></span></p>

        <div class="card-header">Inputs</div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="input : ${setting.getInputs()}">Name :<span
                        th:text="${input.name}"></span>
                    | Type :<span th:text="${input.type}"></span>
                </li>
            </ul>
            <br/>
        </div>

        <div class="card-header">Input State</div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="input : ${inputState.asMap()}">Key :<span
                        th:text="${input.key}"></span>
                    | Value :<span th:text="${input.value}"></span>
                </li>
            </ul>
            <br/>
        </div>

        <div class="card-header">Analog Input State</div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="input : ${inputState.getAnalogInputs()}">Key :<span
                        th:text="${input.key}"></span>
                    | Value :<span th:text="${input.value}"></span>
                </li>
            </ul>
            <br/>
        </div>

    </div>
    <div><p th:text="${info}"></p></div>
    <a href="#" th:href="@{/setting/detail}" class="btn btn-primary">Bearbeiten</a>

    <a href="#" th:href="@{/interaction/start}" class="btn btn-primary">Start</a>
    <a href="#" th:href="@{/interaction/stop}" class="btn btn-primary">Stop</a>

</div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>


